*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    overflow-x: hidden;
}
.clearFixed::after {
    content: '';
    display: block;
    clear: both;
}
.DXZ-1_0{
    max-width: 2000px;
    min-width: 1280px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
    margin: auto;
}
.item-title{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 1;
    background-image: linear-gradient(0deg,transparent 0%,#272727 80%);
}
.item-title .til-h{
    height: 100px;
    margin: 15px 30px;
    padding: 10px 0;
    box-sizing: border-box;
}
.item-title .DXZ_logo{
    display: inline-block;
    vertical-align: bottom;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: palegoldenrod;
    margin: 0 15px;
}
.item-title .logo{
    width: 50px;
}
.item-title .DXZ_name{
    display: inline-block;
    width: 250px;
    color: #fff ;
}
.item-title .name{
    margin-top: 5px;
    font-size: 25px;
    font-weight: 500;
}
.item-title .adverb{
    font-size: 12px;
}
.item-title .til-p{
    float: right;
    color: #fff;
    margin: 30px;
}
.item-title .notice{
    margin-bottom: 10px;
    font-size: 14px;
}
.item-title .notice-content{
    line-height: 18px;
    display: inline-block;
    font-size: 12px;
    max-width: 550px;
    overflow: hidden;
}
.item-video{
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.item-video .itm-vd{
    position: absolute;
    left: 0;
    width: 100000px;
    height: 100%;
}
.item-video .box{
    height: 100%;
    float: left;
}
.item-video .ico,
.item-video .video-center{ 
    width: 100%;
}
.control{
    position: absolute;
    left: 0;
    left: 0;
    z-index: 1;
    bottom: 30px;
    width: 100%;
    height: 150px; 
}
.control .buoo{
    margin: auto;
    display: flex;
    height: 35px;
    justify-content: center;
}
.control .bo{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    float: left;
    margin: 0 10px;
}
.control .search{
    position: relative;
    z-index: 1;
    width: 900px;
    height: 50px;
    background-color: #fff;
    margin: auto;
    padding: 5px 30px;
    box-sizing: border-box;
}
.control .ico-text{
    letter-spacing: 2px;
    outline: none;
    border: none;
    font-size: 24px;
    box-shadow: none;
    width: 800px;
    height: 40px;
    box-sizing: border-box;
}
.control .ico-suo{
    float: right;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
}
.control .text-title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
}
.control .ars{
    width: 120px;
    height: 30px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.control .ars:hover{
    color: bisque;
}
/* 内容区 */
.center{
    height: 650px;
    padding: 60px 10px 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.center .itme-hone{
    padding: 70px 30px;
    box-sizing: border-box;
    margin: auto;
    width: 400px;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 50, 120, 0.6);
}
.center .itme-hone p:nth-child(1){
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 800;
}
.center .itme-hone p:nth-child(2){
    font-size: .8em;
    line-height: 1.8em;
}
.center .itme-hone button:nth-child(3){
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    width: 100px;
    height: 30px;
}
.itme-hone button:nth-child(3):hover{
    background-color: #fff;
    cursor: pointer;
    border: none;
    color: #000;
}
.center .loop-chart{
    width: 33%;
    min-width: 400px;
    height: 100%;
}
/*
.loop-chart .chart{
    position: relative;
    margin: auto;
    width: 400px;
    height: 326px;
    overflow: hidden;
}
.loop-chart .case{
    position: absolute;
    top:0;
    width: 3480px;
}
.loop-chart .chart .chart-img{
    max-height: 326px;
    float: left;
}
.loop-chart p{
    margin: auto;
    width: 400px;
    overflow: hidden;
    padding: 20px;
    font-size: 12px;
    line-height: 20px;
    box-sizing: border-box;
    background-color: #f4f8fb;
}
.loop-chart .chart-box{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
}
.loop-chart .chart-box span{
    display: inline-block;
    width: 30px;
    height: 10px;
    background-color: #ddd;
} */
.center .text-content{
    width: 33%;
    min-width: 400px;
    height: 100%;
}
.text-content .news-title{
    width: 100%;
    height: 35px;
    border-bottom: 2px solid #ddd;
}
.text-content .news-title h3{
    font-size: 28px;
    margin-top: -9px;
    display: inline-block;
}
.text-content .news-title span{
    float: right;
}
.news-title span::after{
    content: "+ ";
    display: inline-block;
    width: 30px;
    height: 25px;
    color: #fff;
    background-color:#0181dc ;
    text-align: center;
    line-height: 25px;
}
.text-content .news-center{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 80px;
    border-bottom: 2px dashed #ddd;
    padding: 15px 0;
    box-sizing: border-box;
    cursor: pointer;
}
.center .itemId{
    display: none;
}
.text-content .news-center::after{
    position: absolute;
    content: '哒学长';
    font-size: 18px;
    color: rgba(120, 120, 120, 0.1);
    top:20px;
    right: 30px;

}
.news-center:hover{
    color: #0181dc;
}
.news-center:hover>.calendar{
    border-color: #0181dc;
}
.text-content .calendar{
    float: left;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    width: 70px;
    height: 100%;
    border-right: 3px solid #ddd;
}
.text-content .calendar span:nth-child(1){
    display: block;
    font-size: 24px;
    font-weight: 800;
}
.text-content .centle{
    line-height: 28px;
    padding-left: 85px;
    font-size: 15px;
}
.text-content .cenName{
    line-height: 28px;
    padding-left: 85px;
    color: rgba(0, 50, 120, 0.6);
    font-size: 12px;
}
.center .text-news{
    width: 33%;
    min-width: 400px;
    height: 100%;
}
.text-news .top-video{
    width: 400px;
    margin: auto;
}
.text-news .im-de{
    position: relative;
    width: 400px;
    height: 230px;
    overflow: hidden;
}
.text-news .im-de:nth-child(1){
    margin-bottom: 30px;
}
.text-news .video-p{
    background-color: #272727;
    border-radius: 8px;
    cursor: pointer;
    width: 320px;
    height: 180px;
}
.text-news .vid-pl,
.text-news .time{
    position: absolute;
    font-size: 12px;
    top:160px;
    color: #fff;
}
.text-news .vid-pl::before{
    position: relative;
    left: -5px;
    content: "▶ ";
    display: inline-block;
}
.text-news .vid-pl{
    left: 20px;
}
.text-news .time{
    right: 100px;
}
.text-news .tl-vid{
    font-size: 16px;
    line-height: 28px;
    width: 320px;
    overflow: hidden;
    cursor: pointer;
}
.text-news .tl-vid:hover,
.text-news .tl-name:hover{
    color: #0181dc;
}
.text-news .video-p:hover ~ span{
    display: none;
}
.text-news .tl-name{
    font-size: 14px;
    cursor: pointer;
    color: #666;
}
/* 结尾 */
.ending{
    padding-top:80px ;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    background-color: #eee;
    
}
.ending .ident{
    height: 40%;
    width: 100%;
}
.ending .end-tel{
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 30px 100px;
    box-sizing: border-box;
}
.ending .end-ico{
    display: inline-block;
    padding: 30px 100px;
    box-sizing: border-box;
    width: 48%;
    height: 100%;
}
.ending .end-tel h4{
    font-size: 14px;
    font-weight: 500;
    color: #666;
    margin-bottom: 20px;
}
.ending .end-tel span{
    vertical-align: top;
    font-size: 12px;
    color: #000;
    margin-right: 20px;
    cursor: pointer;
}
.ending .wx-end{
    text-align: center;
    float: right;
    width: 70px;
    height: 140px;
}
.ending .wx-end span:nth-child(1){
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #0181dc;
    overflow: hidden;
    /* background-image: url(/mpres/zh_CN/htmledition/weui-desktopSkin-common/svg/buildless/bg_logo_primary5b8b1c.svg); */
    background-color: #2aae67;
    border-radius: 50%;
    margin-bottom: 8px;
}
.ending .wx-end span:nth-child(2){
    font-size: 14px;
}
.history{
    position: relative;
    text-align: center;
    font-size: 12px;
}
.history p{
    line-height: 30px;
}
.history .logo{
    position: absolute;
    left: 50%;
    top: -80px;
    transform: rotateX(-50%);
    display: block;
    background-image: url(../imgs/logo_min.jpg);
    background-size: 50px;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
}
/* 
    搜索结果样式
*/
.mask-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.search-box {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50px;
    padding: 0px 30px 20px;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
}
.sea-div {
    border-top:2px solid #ddd;
    padding-top: 20px;
    margin-bottom: 30px;
}

.accurate-text {
    float: left;
    width: 60%;
}

.accurate-text::before {
    content: "文章>>";
    line-height: 24px;
    font-size: 12px;
    color: blueviolet;
}

.accurate-video {
    float: right;
    width: 40%;
}

.accurate-video::before {
    content: "视频>>";
    line-height: 24px;
    font-size: 12px;
    color: blueviolet;
}

.ac-item {
    font-size: 14px;
    line-height: 28px;
    cursor: pointer;
}

ul .ac-item:nth-child(4n) {
    margin-bottom: 30px;
}

.accurate-buttom {
    display: inline-block;
    text-align: center;
    padding: 12px 0px;
    box-sizing: border-box;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    color: #fff;
    background: linear-gradient(to right, blueviolet, rgba(0, 50, 120, 0.6));
}
/* js控制类 */
.bgcolor{
    height: 150px;
    width: 100%;
    background-image: linear-gradient(0deg,#272727 0%,transparent 80%);
    position: absolute;
    bottom: 0;
    left: 0;
}
.color{
    background-color: burlywood !important;
}
.none{
    display: none!important;
}