*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: whitesmoke;
}
/* #iframe{
    display: none;
} */
.release1_0{
    position: relative;
    max-width: 2000px;
    min-width: 1280px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
    margin: auto;
}
#id-itme{
    position: absolute;
    top: 18px;
    right: 50px;
    font-size: 12px;
}
#id-itme::before{
    content: "id:";
    display: inline-block;
}
.label{
    width: 180px;
    height: 900px;
    margin-top: 70px;
    background-color: #fff;
}
.title-name{
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    padding: 10px 30px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 5%);
}
.name{
    font-size: 18px;
    font-weight: 500;
}
.f-name{
    font-size: 12px;
}
.label .tle-type{
    width: 100%;
}
.label .tle-h,
.label .tle-spa,
.label .wo-h,
.label .wo-li{
    padding: 0 45px;
    box-sizing: border-box;
}
.label .tle-h,
.label .wo-h{
    font-size: 14px;
    font-weight: 500;
    color: #666;
    line-height: 40px;
}
.label .tle-spa,
.label .wo-li{
    position: relative;
    display: block;
    font-size: 12px;
    line-height: 40px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.label .tle-spa:hover,
.label .wo-li:hover{
    color: rgb(77, 0, 150);
    border-right: 2px solid #fff;
    background-color: whitesmoke;
}
.label .wo-li .pub-name{
    display: block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.label .tle-type,
.label .works{
    width: 100%;
    padding-top: 30px;
}
.label .imp-i{
    position: absolute;
    left: 20px;
    font-size: 12px;
    color: #ddd;
}
.label .pub-type{
    position: absolute;
    top:0;
    right: 8px;
    font-size: 12px;
    line-height: 12px;
    margin-top: 28px;
    color: rgb(34, 192, 255);
}
.work-area{
    position: absolute;
    display: flex;
    left: 57%;
    transform: translateX(-50%);
    top: 50px;
    width: 80%;
    background-color: #fff;
}
.work-area .selet-z{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.work-but{
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 400px;
    cursor: pointer;
}
.work-tle{
    display: block;
    margin: 30px;
    color: #aaa;
    font-size: 24px;
}
.work-ico{
    display: block;
    width: 300px;
    height: 220px;
    background-image: url(../imgs/jia.png);
}
.control{
    position: relative;
    width: 30%;
    padding: 30px;
}
.control .title-h{
    border:none;
    outline: none;
    resize: none;
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow-y: hidden;
    background-color: transparent;
}
.control .alter{
    position: absolute;
    top: 85px;
    right: 20px;
    font-size: 12px;
    padding: 3px 5px;
    background-color: red;
    color: #fff;
}
.control .widget{
    display: inline-block;
    padding: 5px 8px;
    color: #fff;
    background-color: #0181dc;
    border-radius: 5px;
    cursor: pointer;
}
.control .widget::before{
    content: '+';
    display: inline-block;
}
.control .widget:hover,
.command .ctrol:hover{
    background-color: #2295e7;
}
.cont-text{
    text-align: center;
}
.cont-text .proposal{
    font-size: 12px;
    color: #666;
}
.cont-text .num{
    position: absolute;
    top: 25px;
    color: #666;
    font-size: 14px;
    right: 30px;
}
.cont-text .num::after{
    content: " 字";
}
.cont-text{
    padding: 50px 30px;
    width: 65%;
}
.text{
    width: 100%;
}
.cont-text .text .text-p,
.text .img-p{
    position: relative;
    width: 100%;
    min-height: 80px;
    padding-bottom: 20px;  
}
.cont-text .text .text-p:hover>.close,
.command .but-y:hover,
.text .img-p:hover>.close,
.command .but-y:hover{
    display: block;
}
.text .inpt{
    position: absolute;
    top:0;
    left: 0;
    border:none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100%;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 32px;
    overflow-y: hidden;
    background-color: transparent;
}
.cont-text .text .div-text{
    font-size: 18px;
    line-height: 32px;
    padding-bottom: 20px;
    visibility: hidden;
    font-family: cursive;
    letter-spacing: 1px;
}
.img-p{
    position: relative;
    text-align: center;
}
.img-p .bor{
    margin: auto;
    width: 200px;
    height: 147px;
    border: none;
    background-color: transparent;
    background-size: 200px;
    cursor: pointer;
    background-image: url(../imgs/jia.png);
}
input[type="file"]{
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    width: 200px;
    height: 147px;
    cursor: pointer;
}
.file-img{
    height: 300px;
}
.close{
    position: absolute;
    right: 0;
    bottom: 0px;
    display: none;
    width: 10px;
    height: 10px;
    border:1px dashed peachpuff;
    font-size: 18px;
    color: red;
    line-height: 12px;
    cursor: pointer;
}
.cont-text .video-L{
    position: absolute;
    transform: translateX(50%);
    left: 50%;
    top: 50px;
}
.cont-text .div-video{
    margin: auto;
    background-image: url(../imgs/jia.png);
    background-size: 200px;
    width: 200px;
    height: 147px;
    cursor: pointer;
}
.cont-text .video-N{
    height: 320px;
}
.command{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 0;
    padding: 10px 120px;
    width: 60%;
    height: 50px;
    line-height: 32px;
    box-sizing: border-box;
    font-size: 16px;
}
.command .ctrol{
    color: #fff;
    line-height: 12px;
    margin-right: 20px;
    padding: 10px 8px;
    background-color: #0181dc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}
.command .tips{
    margin-right: 30px;
}
.command .mask{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.1);
}
.command .prompt{
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translateX(-50%);
    width: 400px;
    height: 280px;
    display: block;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
}
.command .tli-t{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}
.command .name-M{
    width: 94%;
    height: 38px;
    font-size: 20px;
    padding: 0 8px;
    outline: none;
    margin-bottom: 30px;
}
.command .but{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.command .but-y{
    width: 100px;
    border: 1px solid whitesmoke;
    text-align: center;
    cursor: pointer;
}
.short-storage{
    padding: 30px;
    width: 100%;
}
.short-storage .ip-name{
    color: #ddd;
    font-size: 16px;
    margin-bottom: 15px;
    display: inline-block;
}
.short-storage .herder,
.short-storage .str-li{
    line-height: 38px;
    display: flex;
    text-align: center;
    font-size: 14px;
}
.short-storage .herder{
    background-color: aliceblue;
}
.short-storage .itm{
    flex: 2;
}
.short-storage .itm:last-child{
    flex: 4;
}
.short-storage .storage{
    font-size: 12px;
}
.short-storage .str-li{
    position: relative;
    font-size: 12px;
    line-height: 48px;
    border-top: 1px solid #ddd;
}
.short-storage .na-ap{
    margin-top: 16px;
    line-height: 16px;
}
.short-storage .iemp{
    position: absolute;
    left: 0;
    top: 3px;
    line-height: 12px;
    color: #ddd;
    user-select: none;
}
.short-storage .itm-k{
    display: inline-block;
    padding: 0px 12px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #666;
    cursor: pointer;
    box-sizing: border-box;
}
.short-storage .MMfo{
    position: fixed;
    width: 10000px;
    height: 10000px;
    top: -3000px;
    left: -3000px;
    background-color: rgba(220,220,220,.8);
}
.short-storage .foEnt{
    width: 500px;
    height: 200px;
    padding: 0 30px;
    background-color: #fff;
    position: fixed;
    top:100px;
    left: 40%;
    transform: translateX(-50%);
    text-align: center;
    box-sizing: border-box;
}
.short-storage .foEnt::after{
    content: "";
    display: block;
    position: fixed;
    background-color: rgba(220,220,220,.8);
}
.short-storage .foEnt-tile{
    line-height: 40px;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 20px;
}
.short-storage .foEnt-name{
    display: inline-block;
    line-height: 24px;
    margin-bottom: 20px;
    color: #999;
}
.short-storage .dtive{
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.short-storage .dtive span{
    padding: 8px 12px;
    background-color: #2295e7;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}
.short-storage .itm-k:hover,
.short-storage .dtive span:hover,
.command .but-y:hover{
    color: #fff;
    border-color: #0181dc;
    background-color: #0181dc;
}
/* 预览界面样式 */
.preview{
    background-color: rgba(220,220,220,.8);
    position: absolute;
    text-align: center;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}
.preview .preview-video{
    width: 80%;
}
.preview::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}
.detail{
    position: relative;
    margin: auto;
    margin-bottom: 100px;
    max-width: 960px;
    min-width: 840px;
    min-height: 1200px;
    padding: 180px 100px;
    box-sizing: border-box;
    background-color: #fff;
}
.title{
    position: absolute;
    font-size: 16px;
    top: 80px;
    left: 100px;
}
.title .lisTime{
    display: block;
    font-size: 12px;
    border-top: 2px solid #666;
    margin-top: 4px;
}
.num{
    position: absolute;
    top: 100px;
    right: 100px;
    color: #666;
    font-size: 12px;
}
.num .readNum{
    color: blue;
}
.content{
    width: 100%;
    text-align: center;
}
.content .title-t{
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
}
.content .div-text{
    text-align: left;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 10px;
    text-indent: 2em;
}
.content .img-p{
    overflow: hidden;
    position: relative;
    height: 326px;
}
.content .file-img{
    height: 326px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}
.tag{
    color: #ddd;
    font-size: 18px;
    bottom: 100px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0 100px;
    box-sizing: border-box;
}
.tag span{
    display: block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}
/* 预览样式结束 */
/* 文章数据样式 */
.formText{
    padding: 30px 60px;
    margin: auto;
    box-sizing: border-box;
}
.fText-h{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid aliceblue;
}
.fText-ul{
    font-size: 12px;
    color: #999;
    width: 300px;
    float: left;
}
.fText-h::after{
    content: "";
    display: block;
    clear: both;
}
.fText-li{
    line-height: 24px;
}
.fText-li span:nth-child(1){
    font-weight: 600;
    text-align: right;
    display: inline-block;
    width: 100px;
}
.fText-li .num-value::after{
    content: " 字";
}
.formNum{
    float: right;
    height: 100%;
}
.formNum .fNum{
    font-size: 70px;
    font-weight: 600;
    color: #2bf;
}
.formNum .fbrowse{
    font-size: 12px;
    color: #999;
}
.fr-preview{
    max-height: 800px;
    width: 88%;
    display: inline-block;
    padding: 0 26px;
    margin-top: 30px;
    overflow-y: auto;
    border: 1px dotted #ddd;
}
.fr-preview .preview-video{
    width: 100%;
}
.fr-but{
    float: right;
    padding: 0 8px;
    margin-top: 30px;
}
.fr-but .shelf,
.fr-but .pre{
    display: block;
    padding: 5px 8px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #0181dc;
}
.spTime{
    position: absolute;
    top:65px;
    right: 220px;
    color: red;
    font-weight: 500;
    font-size: 18px;
}
.spTime::before{
    content: "正在上传 ";
}
/* 数据样式结束 */
/* js控制类 */
.none{
    display: none!important;
}
.block{
    display: block;
}
.disabled{
    pointer-events: none !important;
    background-color: #ddd !important;
}
.bgcolor{
    color: #000;
    border-right: 2px solid #fff;
    background-color: whitesmoke;
}