*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.clearFixed::after {
    content: '';
    display: block;
    clear: both;
}
body{
    background-color: #eee;
}
.dxz_xxjs{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.header_div{
    width: 100%;
    height: 300px;
    color: #fff;
    background-color: #1772b4;
}
.item-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    z-index: 1;
}
.item-title .til-h{
    height: 100px;
    margin: 15px 30px;
    padding: 10px 0;
    box-sizing: border-box;
}
.item-title .DXZ_logo{
    display: inline-block;
    vertical-align: bottom;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: palegoldenrod;
    margin: 0 15px;
}
.item-title .logo{
    width: 50px;
}
.item-title .DXZ_name{
    display: inline-block;
    width: 250px;
    color: #fff ;
}
.item-title .name{
    margin-top: 5px;
    font-size: 25px;
    font-weight: 500;
}
.item-title .adverb{
    font-size: 12px;
}
.item-title .til-sp{
    margin: 15px 300px 15px 30px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    width: 200px;
    box-sizing: border-box;
    
}
.item-title .til-span{
    text-decoration: none;
    color: #fff;
    line-height:50px;
}
.item-title .til-span:hover{
    color: coral;
}
.header_div .search{
    position: relative;
    z-index: 1;
    width: 900px;
    height: 50px;
    background-color: #fff;
    margin: auto;
    padding: 5px 30px;
    box-sizing: border-box;
}
.header_div .ico-text{
    letter-spacing: 2px;
    outline: none;
    border: none;
    font-size: 24px;
    box-shadow: none;
    width: 800px;
    height: 40px;
    box-sizing: border-box;
}
.header_div .ico-suo{
    color: #474747;
    float: right;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
}
.Hot_list{
    border-top: 2px solid #666;
    font-size: 12px;
    color:coral;
}
.Hot_list .h_list{
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    height: 72px;
}
.h_list .acfiex-item{
    line-height: 24px;
    cursor: pointer;
}
.container {
    font-size: 12px;
    margin-bottom: 5px;
}
.search-box {
    z-index: 1;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
}
.sea-div {
    border-top:2px solid #ddd;
    padding-top: 20px;
    margin-bottom: 30px;
}
.content_div{
    position: relative;
    margin: auto;
    margin-top: -80px;
    margin-bottom: 100px;
    max-width: 1280px;
    min-width: 840px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
}
.accurate-text {
    float: left;
    width: 60%;
}

.accurate-text::before {
    content: "文章>>";
    line-height: 24px;
    font-size: 12px;
    color: blueviolet;
}

.accurate-video {
    float: right;
    width: 40%;
}

.accurate-video::before {
    content: "视频>>";
    line-height: 24px;
    font-size: 12px;
    color: blueviolet;
}

.ac-item {
    font-size: 14px;
    line-height: 28px;
    cursor: pointer;
}

ul .ac-item:nth-child(8n) {
    margin-bottom: 30px;
}
ul .ac-item{
    line-height: 28px;
}
ul li a:hover{
    color:chocolate;
}
/* js */
.none{
    display: none!important;
}