*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000;
}
input{
    outline: none;
}
.frame{
    position: fixed;
    width: 500px;
    height: 300px;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.frame .bglogo{
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(./imgs/logo_min.jpg);
    background-size: 50px;
    margin: auto;
}
.frame .title-h{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 70px;
    color: #fff;
}
.textName,.passWord{
    display: block;
    width: 220px;
    height: 30px;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    padding-left: 15px;
    box-sizing: border-box;
}
.langDing{
    display: block;
    width: 220px;
    height: 30px;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    color: #fff;
    background-image: linear-gradient(to right,rgb(28, 88, 255),rgb(0, 225, 255));
}
.langDing:hover{
    background-image: linear-gradient(to right,rgb(0, 49, 185),rgb(0, 183, 207));
}